<ion-header>
    <ion-toolbar>
        <ion-title>openrouteservice</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-6.108398437500001%2C44.308126684886126%2C21.533203125000004%2C57.42129439209407&amp;layer=mapnik"
            style="border: 1px solid black"></iframe>
    <br/>
    <small><a href="https://www.openstreetmap.org/#map=6/51.331/7.712">Größere Karte anzeigen</a></small>

    <script>
        var request = new XMLHttpRequest();

        request.open('GET',
            'https://api.openrouteservice.org/directions?api_key=5b3ce3597851110001cf62489ad19279c1d74fc3a321e1d03e42eee1&coordinates=8.34234,48.23424%7C8.34423,48.26424&profile=driving-car');

        request.onreadystatechange = function () {
            if (this.readyState === 4) {
                console.log('Status:', this.status);
                console.log('Headers:', this.getAllResponseHeaders());
                console.log('Body:', this.responseText);
            }
        };

        request.send();
    </script>


</ion-content>
