<ion-header>
    <ion-toolbar>
        <ion-title>Registrierung</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <!--ToDo:
        1. Zeilenlänge
        2. Placeholder
        3. Info Icons
        4. Progress/Info für Registriert
    -->
    <form (ngSubmit)="registrate()">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Name:</ion-label>
                        <ion-input type="text"  [(ngModel)]="user.name" name="email"></ion-input>
                    </ion-item>

                <ion-col>
                    <ion-col>
                    <ion-item>
                        <ion-label>Vorname:</ion-label>
                        <ion-input type="text" [(ngModel)]="user.firstname" name="firstName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Geburtsdatum:</ion-label>
                        <ion-input type="date" [(ngModel)]="user.birthdate" name="birthdate"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>Telefonnummer:</ion-label>
                    <ion-input type="number" [(ngModel)]="user.telefon" name="telefon"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>E-Mail:</ion-label>
                    <ion-input type="email" [(ngModel)]="user.email" name="email" placeholder="test@test.com"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>E-Mail bestätigen:</ion-label>
                    <ion-input type="email" [(ngModel)]="user.emailConfirmed" name="emailConfirmed"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>Password:</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
                    <ion-icon name="information-circle-outline"  (click)="showPasswordInfo()"></ion-icon>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>Password bestätigen:</ion-label>
                    <ion-input type="password" [(ngModel)]="user.passwordConfirmed" name="passwordConfirmed"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>AGBs bestätigen:</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="user.agbIsChecked" name="agb"></ion-checkbox>
                </ion-item>
            </ion-row>
        </ion-grid>

        <ion-button type="submit" block>Registrieren</ion-button>
    </form>


</ion-content>
