<ion-header>
  <ion-toolbar>
    <ion-title>LogIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form (ngSubmit)="logIn()">

        <ion-item>
            <ion-label>E-Mail: </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password: </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <button ion-button type="submit" block>LogIn</button>
    </form>
    <!--just for testing-->
    <ion-button (click)="logOut()">LogOut</ion-button>
    <ion-button (click)="checkLoggedIn()">checkLoggedIn</ion-button>
    <!--just for testing-->


</ion-content>
