<ion-header>
    <ion-toolbar>
        <ion-title>LogIn</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-item>
        <ion-label>E-Mail:</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button (click)="logIn()">einloggen</ion-button>

    <!--just for testing-->
    <ion-button (click)="logOut()">LogOut</ion-button>
    <ion-button (click)="checkLoggedIn()">checkLoggedIn</ion-button>
    <ion-button (click)="redirectRegistration()">Zur Registrierung</ion-button>
    <!--just for testing-->
    <ion-button (click)="hierklickenfuerBackend()">hierklickenfuerBackend</ion-button>


</ion-content>
