<ion-header>
    <ion-toolbar>
        <ion-title>Nachfrager</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Startpunkt</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Endpunkt</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Ankunftszeitpunkt:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD | HH:mm" value="2019-02-12T13:47:20.789"
                      [(ngModel)]="arriveTime"></ion-datetime>
    </ion-item>

    <ion-button (click)="search()">Suchen</ion-button>

    <!--Hier ngfor einfügen-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Fahrt 1</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Route, Informationen etc
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Fahrt 2</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Route, Informationen etc
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Fahrt 3</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Route, Informationen etc
        </ion-card-content>
    </ion-card>

</ion-content>
