.welcome-card{
  max-height: 35vh;
  overflow-y: auto;
}

ion-list{
  height: 33%;
  overflow-y: auto;

}

ion-content{
  --overflow: hidden;
}

ion-footer{
  background-color: white;
}

#suc{
  width: 48%;
}

#anb{
  width: 48%;
}

ion-content{
  overflow: hidden;
}
