<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <iframe width="95%" height="99%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-6.108398437500001%2C44.308126684886126%2C21.533203125000004%2C57.42129439209407&amp;layer=mapnik"
            style="border: 1px solid black"></iframe>
    <br/>

    <script id="routing">

    </script>
    <input type="button" value="test" (click)="route();">

</ion-content>
